html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    align-items: center;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: aliceblue;
  }
  
  header {
    position: fixed;
    top: 0; /* Asegura que se quede en la parte superior */
    left: 0; /* Asegura que esté alineado a la izquierda */
    width: 100%; /* Asegura que ocupe todo el ancho */
    background-color: white; /* Puedes poner un fondo si lo necesitas */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    padding: 10px 0; /* Ajusta el espaciado según necesites */
  }
  
    
  #logo-link {
    display: inline-block; /* Asegura que el enlace no ocupe todo el ancho */
    width: 30%; /* Tamaño del área donde se hace clic */
    height: 10%; /* Tamaño del área donde se hace clic */
    overflow: hidden; /* Evita que la imagen sobresalga cuando haga zoom */
    transition: transform 0.3s ease-in-out; /* Animación suave para el zoom */
  }
  
  #logo-link:hover {
    transform: scale(1.2); /* Aumenta el tamaño del enlace cuando el ratón pasa por encima */
  }
  
  
  #logo {
    max-height: 100%; /* Ajusta la imagen al tamaño del enlace */
    object-fit: contain; /* Mantiene la proporción de la imagen */
    width: 100%; /* La imagen ocupa el 100% del área del enlace */
  }
  
  .book-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden; /* Ajustado para evitar el scroll extra */
  }
  
  .page {
    min-height: 100vh; /* Cambiado a min-height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.9s ease-in-out;
    box-sizing: border-box;
    padding: 20px;
  }
  
  .page.hidden {
    opacity: 0;
  }
  
  .page.fade-out {
    opacity: 0;
    transform: translateY(10px);
  }
  
  .map {
    width: 100%;
    height: auto;
  }
  
  .page img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
  }
  
  /* Media Query para pantallas pequeñas */
  @media (max-width: 768px) {
  
    .page {
      padding: 20% 10px 0; 
      display: flex; /* Usamos flexbox para centrar los elementos */
      flex-direction: column; /* Coloca los elementos en columna */
      align-items: center; /* Centra horizontalmente los elementos */
      justify-content:flex-start; /* Centra verticalmente los elementos */
      text-align: center; /* Centra el texto */
    }
    #map{
      margin-top: 3%;
    }
  /* Padding específico para el div con ID 'page2' */
  #page2 {
    padding: 15% 5px 10px; /* Menos espacio en la segunda página */
  }
  #img2{
    margin-top: -10px;
  }
  /* Padding específico para el div con ID 'page3' */
  #page3 {
    padding-top: 30%; /* Espacio moderado en la tercera página */
  }
  #img3 {
    margin-top: 0;
  }
  
  /* Padding específico para el div con ID 'page4' */
  #page4 {
    padding: 30% 10px; /* Menos padding en la cuarta página */
  }
  #img4 {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }
  /* Padding específico para el div con ID 'page5' */
  #page5 {
    height: auto;
    padding: 15% 10px; /* Padding normal en la quinta página */
  }
  #img5 {
    margin-top: 10%;
  }
  #imgd {
    width: 95%;
    margin-top: 2px;
  }
  #imgd :first-child {
    margin-bottom: 10px;
  }
  /* Padding específico para el div con ID 'page6' */
  #page6 {
    padding: 15% 10px; /* Padding más pequeño en la sexta página */
  }
  #parrafo6 {
    margin-top: 5px;
  }
  #img6 {
    width: 95%;
    height: auto;
    margin-top: 0;
  }
  #imgd1{
    width: 95%;
    margin-top: 1px;
  }
  
  #page7 {
    padding-top: 13%;
  }
  #page7 p {
    margin-top: 2px;
  }
  #img7 {
    width: 100%;
    height: 21vh;
    margin-top: 0;
  }
    h1 {
      font-size: 1.5em;
      margin: 10px 0;
    }
  
    .map {
      height: 300px;
    }
  
    .page img {
      max-width: 100%;
      height: auto;
      margin-top: 20px;
    }
  }
  
  /* Media Query para pantallas grandes */
  @media (min-width: 769px) {
    .page {
      padding: 20px;
      display: flex; /* Usamos flexbox para centrar los elementos */
      flex-direction: column; /* Coloca los elementos en columna */
      align-items: center; /* Centra horizontalmente los elementos */
      justify-content: flex-start; /* Alinea los elementos hacia el inicio (arriba) */
      text-align: center; /* Centra el texto */
    }
  
    h1 {
      font-size: 2.5em;
    }
  
    .page img {
      max-width: 80%;
      margin-top: 30px;
    }
  }
  